In [1]:
test_input='''32T3K 765
T55J5 684
KK677 28
KTJJT 220
QQQJA 483'''

In [2]:


txt = "7.txt"
with open(txt, "r") as f:
    live_input = f.read()

In [3]:
# data = test_input.split('\n')
data = live_input.split('\n')
data = [x.strip().split() for x in data]

In [4]:
data

def groupbycount(str_input):
    res = {}
    for char in str_input:
        if char in res:
            res[char] += 1
        else:
            res[char] = 1
    return res
groupbycount(data[0][0])

def get_tier(str_input):
    groups = groupbycount(str_input)
    res = {1:0, 2:0, 3:0, 4:0, 5:0}
    for card, count in groups.items():
        res[count] +=1
    if res[1]==5:
        return 0
    elif res[2]==1 and res[3]==0:
        return 1
    elif res[2]==2:
        return 2
    elif res[3]==1 and res[2]==0:
        return 3
    elif res[3]==1 and res[2]==1:
        return 4
    elif res[4]==1:
        return 5
    elif res[5]==1:
        return 6
  

get_tier('3223K')

2

In [5]:
cards = [2,3,4,5,6,7,8,9,'T','J','Q','K','A']
single = {str(card): x+1 for x, card in enumerate(cards)}
def convert_13_num_sys(input, map):
    
    return sum([map[card] * (13**(5-x)) for x,card in enumerate(input)])

convert_13_num_sys('32T3K', single)

791414

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(data, columns=['raw', 'bid'])
df = df.astype({'bid':'int'})
sys13 = [convert_13_num_sys(x[0], single) for x in data]
df['sys13'] = sys13
tier = [get_tier(x[0]) for x in data]
df['tier'] = tier
df.sort_values(by=['tier', 'sys13'], ascending=False, inplace=True)
df = df.reset_index()
df['rank']= list(range(len(df), 0, -1))
df['bid_rank'] = df['rank'] * df['bid']
df

     index    raw  bid    sys13  tier  rank  bid_rank
0      102  JJJJJ  628  4022330     6  1000    628000
1      875  AAAA7  638  5228938     5   999    637362
2      750  AAAA2   57  5228873     5   998     56886
3      874  AAAQA  769  5228691     5   997    766693
4      500  AAA5A  994  5227508     5   996    990024
..     ...    ...  ...      ...   ...   ...       ...
995    601  2Q634  383   696826     0     5      1915
996    435  2T764  202   642408     0     4       808
997    501  26Q9K  816   539773     0     3      2448
998    658  24JK6   53   481039     0     2       106
999    698  2495T  207   475345     0     1       207

[1000 rows x 7 columns]

In [8]:
df['bid_rank'].sum()

252295678

In [9]:
def get_jcount(cards):
    return  sum([1 if card=='J'else 0 for card in cards])
get_jcount('24JK6')

1

In [10]:
import itertools
def jvariables(cards):
    jcount = get_jcount(cards)
    if jcount==0:   
        return [cards]
    elif jcount==5:
        return [cards]
    without_j = cards.replace('J', '')
    res = [ without_j+ ''.join(combination) for combination in list(set(itertools.combinations_with_replacement(list(without_j), r=jcount)))]
    return res

def magic_tier(cards):
    return max([get_tier(x) for x in jvariables(cards)])

magic_tier('8J9JJ')

5

In [11]:
new_cards = ['J',2,3,4,5,6,7,8,9,'T','Q','K','A']
new_single = {str(card): x+1 for x, card in enumerate(new_cards)}

ddf = pd.DataFrame(data, columns=['raw', 'bid'])
ddf = ddf.astype({'bid':'int'})
sys13 = [convert_13_num_sys(x[0], new_single) for x in data]
ddf['sys13'] = sys13
tier = [magic_tier(x[0]) for x in data]
ddf['tier'] = tier
ddf.sort_values(by=['tier', 'sys13'], ascending=False, inplace=True)
ddf = ddf.reset_index()
ddf['rank']= list(range(len(ddf), 0, -1))
ddf['bid_rank'] = ddf['rank'] * ddf['bid']


ddf

     index    raw  bid    sys13  tier  rank  bid_rank
0      914  AJAJA  140  4884269     6  1000    140000
1      602  KJKJK  724  4510766     6   999    723276
2      850  QQQJQ  641  4422873     6   998    639718
3      564  QQQJJ  682  4422743     6   997    679954
4      281  QJJJJ  700  4115163     6   996    697200
..     ...    ...  ...      ...   ...   ...       ...
995    940  35687  442  1271309     0     5      2210
996    601  2Q634  383  1070498     0     4      1532
997    435  2T764  202  1044641     0     3       606
998    501  26Q9K  816   939796     0     2      1632
999    698  2495T  207   877578     0     1       207

[1000 rows x 7 columns]

In [12]:
ddf['bid_rank'].sum()

250577259